.liste_film{
    display: flex;
    flex-wrap: wrap;
}

.carte_film{
    background-color:transparent;
    width: 215px;
    height: 290px;
    perspective: 1000px;
    margin: 1vw;
}

.un_film{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.carte_film:hover .un_film{
    transform: rotateY(180deg);
}

.face_avant,.face_arriere{
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
    border-radius:10%;
}

.face_avant{
    background-color: #bbb;
    color: black;
}

.face_arriere{
    background-color:  #848484;
    color:white;
    transform: rotateY(180deg);
}

.img_film{
    border-radius:11%;
}