.navbar{
    list-style-type:none;
    margin:0;
    padding: 0;
    overflow:hidden;
    background-color: #01796f;
}

li{
    float: left;
}

li a, .nav-btn{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

li a:hover, .nav-dropdown:hover .nav-btn{
    background-color: #068177;
}

li.nav-dropdown{
    display: inline-block;
}

.nav-contenu{
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.nav-contenu a{
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}

.nav-contenu a:hover{background-color:#f1f1f1;}

.nav-dropdown:hover .nav-contenu{display: flex;}

input{
    border: 3px solid #129b90;
    height: 40px;
    width: 300px;
    border-radius: 10px;
    padding: 0px 10px;
    margin: 2%;
}